E_Bank_Cl/xml-resources/web-service-references/E_Bank_Employee/wsdl/localhost_8080/E_Bank_ws/E_Bank_Employee.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://E_Bank_ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://E_Bank_ws/" name="E_Bank_Employee">
<types>
<xsd:schema>
<xsd:import namespace="http://E_Bank_ws/" schemaLocation="http://localhost:8080/E_Bank_ws/E_Bank_Employee?xsd=1"/>
</xsd:schema>
</types>
<message name="displayEmployeeList">
<part name="parameters" element="tns:displayEmployeeList"/>
</message>
<message name="displayEmployeeListResponse">
<part name="parameters" element="tns:displayEmployeeListResponse"/>
</message>
<message name="editEmployee">
<part name="parameters" element="tns:editEmployee"/>
</message>
<message name="editEmployeeResponse">
<part name="parameters" element="tns:editEmployeeResponse"/>
</message>
<message name="loadEmployee">
<part name="parameters" element="tns:loadEmployee"/>
</message>
<message name="loadEmployeeResponse">
<part name="parameters" element="tns:loadEmployeeResponse"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<message name="registerEmployee">
<part name="parameters" element="tns:registerEmployee"/>
</message>
<message name="registerEmployeeResponse">
<part name="parameters" element="tns:registerEmployeeResponse"/>
</message>
<message name="loginEmployee">
<part name="parameters" element="tns:loginEmployee"/>
</message>
<message name="loginEmployeeResponse">
<part name="parameters" element="tns:loginEmployeeResponse"/>
</message>
<portType name="E_Bank_Employee">
<operation name="displayEmployeeList">
<input wsam:Action="http://E_Bank_ws/E_Bank_Employee/displayEmployeeListRequest" message="tns:displayEmployeeList"/>
<output wsam:Action="http://E_Bank_ws/E_Bank_Employee/displayEmployeeListResponse" message="tns:displayEmployeeListResponse"/>
</operation>
<operation name="editEmployee">
<input wsam:Action="http://E_Bank_ws/E_Bank_Employee/editEmployeeRequest" message="tns:editEmployee"/>
<output wsam:Action="http://E_Bank_ws/E_Bank_Employee/editEmployeeResponse" message="tns:editEmployeeResponse"/>
</operation>
<operation name="loadEmployee">
<input wsam:Action="http://E_Bank_ws/E_Bank_Employee/loadEmployeeRequest" message="tns:loadEmployee"/>
<output wsam:Action="http://E_Bank_ws/E_Bank_Employee/loadEmployeeResponse" message="tns:loadEmployeeResponse"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://E_Bank_ws/E_Bank_Employee/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://E_Bank_ws/E_Bank_Employee/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
</operation>
<operation name="registerEmployee">
<input wsam:Action="http://E_Bank_ws/E_Bank_Employee/registerEmployeeRequest" message="tns:registerEmployee"/>
<output wsam:Action="http://E_Bank_ws/E_Bank_Employee/registerEmployeeResponse" message="tns:registerEmployeeResponse"/>
</operation>
<operation name="loginEmployee">
<input wsam:Action="http://E_Bank_ws/E_Bank_Employee/loginEmployeeRequest" message="tns:loginEmployee"/>
<output wsam:Action="http://E_Bank_ws/E_Bank_Employee/loginEmployeeResponse" message="tns:loginEmployeeResponse"/>
</operation>
</portType>
<binding name="E_Bank_EmployeePortBinding" type="tns:E_Bank_Employee">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="displayEmployeeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loadEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="E_Bank_Employee">
<port name="E_Bank_EmployeePort" binding="tns:E_Bank_EmployeePortBinding">
<soap:address location="http://localhost:8080/E_Bank_ws/E_Bank_Employee"/>
</port>
</service>
</definitions>